.filterparent {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.filterbox {
	margin-left: 1rem;
	padding: 0.5rem;
	border: 2px solid darkred;
	/* background-color: rgb(255, 200, 200); */
}
